.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #edcdc9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: rgb(237, 62, 155);
}
.by-now-button{
    background-image: linear-gradient( to bottom, #FF589B 0%,#FF136F 100%);
    color: aliceblue;
    border:none;
    border-radius: 8px;
    padding: 9px 20px;
    cursor: pointer;

}
.cat1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
}
.cat2{
    background-color: orchid;
    padding: 10px 30px;
    border-radius: 10px;
}
.cat3{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 120px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#Subscribe{
    height: 300px;
}
#Subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}